@model CadastroUrlBackendMobile.Models.UrlBackendMobileTable

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Detalhes</h4>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CNPJ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNPJ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URL)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit","UrlBackendMobileTables", new { id = Model.id })" class="btn btn-success">Editar</a>
    <a href="@Url.Action("Index","Home")" class="btn btn-info">Voltar</a>
</p>
